In [43]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [44]:
import os.path as op
import pandas as pd

chromsizes = []
with open('/Users/pete/projects/negspy/negspy/data/b37/chromInfo.txt') as f:
    for line in f:
        chromsizes += [line.strip().split('\t')]

In [71]:
%%time

filename = '/Users/pete/projects/resgen-server/media/s3/resgen-test/test.resgen.io/QzV6Qhx7QYaIP9nEznkVig/HG002_SVs_Tier1_v0.6.bed..'
t = pd.read_csv(filename, header=None, delimiter="\t")

CPU times: user 38.6 ms, sys: 16.7 ms, total: 55.2 ms
Wall time: 101 ms

In [55]:
import numpy as np
def chromsizes_array_to_series(chromsizes):
    """
    Convert an array of [[chrname, size]...] values to a series
    indexed by chrname with size values
    """
    chrnames = [c[0] for c in chromsizes]
    chrvalues = [c[1] for c in chromsizes]

    return pd.Series(np.array([int(c) for c in chrvalues]), index=chrnames)

In [147]:
cs_df = chromsizes_array_to_series(chromsizes)
css = cs_df.cumsum().shift().fillna(0).to_dict()

In [149]:
css['2']

249250621.0

In [150]:
import clodius.tiles.bedfile as ctbf

tsinfo = ctbf.tileset_info(filename, cs_df)

In [155]:
9332 * 2

18664

In [169]:
%%time

print(ctbf.single_tile(filename, cs_df, tsinfo, 17, 35))
print(ctbf.single_tile(filename, cs_df, tsinfo, 18, 70))
print(ctbf.single_tile(filename, cs_df, tsinfo, 18, 71))
# x = ctbf.single_tile(filename, cs_df, tsinfo, 15, 9331)

tileStart: 826639.475517273 tileEnd 850257.7462463379
[{'uid': 0, 'xStart': 834131.0, 'xEnd': 843115.0, 'chrOffset': 0.0, 'importance': 0.7221559463207853, 'fields': ['1', 834131, 843115]}, {'uid': 1, 'xStart': 846279.0, 'xEnd': 868342.0, 'chrOffset': 0.0, 'importance': 0.7075575934486248, 'fields': ['1', 846279, 868342]}]
tileStart: 826639.475517273 tileEnd 838448.6108818054
[{'uid': 0, 'xStart': 834131.0, 'xEnd': 843115.0, 'chrOffset': 0.0, 'importance': 0.6685796445312912, 'fields': ['1', 834131, 843115]}]
tileStart: 838448.6108818054 tileEnd 850257.7462463379
[{'uid': 0, 'xStart': 834131.0, 'xEnd': 843115.0, 'chrOffset': 0.0, 'importance': 0.43316354720039074, 'fields': ['1', 834131, 843115]}, {'uid': 1, 'xStart': 846279.0, 'xEnd': 868342.0, 'chrOffset': 0.0, 'importance': 0.7558073122458558, 'fields': ['1', 846279, 868342]}]
CPU times: user 183 ms, sys: 29.4 ms, total: 212 ms
Wall time: 278 ms

%%time

t[3] = t[0].map(lambda x: css[x])
t[4] = t[3] + t[1]
t[5] = t[3] + t[2]

In [108]:
t['ix'] = t.index

In [122]:
t.tail().apply(lambda x: x['ix'], axis=1)

34825    34825
34826    34826
34827    34827
34828    34828
34829    34829
dtype: int64

In [46]:
%%time

s = 0
for item in t.iterrows():
    s += item[1][1]

CPU times: user 2.42 s, sys: 27.2 ms, total: 2.45 s
Wall time: 2.49 s

In [48]:
%%time

t.sort_values(by=[0,1])

CPU times: user 23.1 ms, sys: 11.5 ms, total: 34.6 ms
Wall time: 54.6 ms

       0         1         2
0      1    834131    843115
1      1    846279    868342
2      1    871339    871544
3      1    871891    883971
4      1    884192    911068
5      1    914552    919891
6      1    920092    924011
7      1    924800    928212
8      1    928587    934027
9      1    934279    957867
10     1    958068    964666
11     1    966759    976059
12     1    978248    997336
13     1    997639   1004057
14     1   1004322   1011177
15     1   1017409   1043322
16     1   1044602   1073451
17     1   1077844   1092575
18     1   1092924   1103289
19     1   1103571   1137053
20     1   1138315   1175009
21     1   1177093   1179119
22     1   1181675   1182435
23     1   1186067   1218477
24     1   1220614   1222554
25     1   1226633   1229011
26     1   1229231   1259139
27     1   1259745   1275164
28     1   1275479   1317510
29     1   1318385   1361714
...   ..       ...       ...
34800  Y  16933329  16937452
34801  Y  16937679  16948615
34802  Y  16964016  17104446
34803  Y  17117445  17196455
34804  Y  17196909  17335620
34805  Y  17349439  17427165
34806  Y  17441215  17664926
34807  Y  17676058  17737713
34808  Y  17748532  17982133
34809  Y  17997362  18060111
34810  Y  18060497  18270564
34811  Y  18381476  18427239
34812  Y  18537727  18924552
34813  Y  18949239  19385833
34814  Y  19388430  19436622
34815  Y  19438679  19488013
34816  Y  19489413  19567633
34817  Y  20802297  20841862
34818  Y  21033007  21152475
34819  Y  21154578  21551272
34820  Y  21552363  22216540
34821  Y  22512990  22636783
34822  Y  22673999  23167762
34823  Y  23225680  23465962
34824  Y  24373111  24385983
34825  Y  24388630  24389844
34826  Y  24432604  24448138
34827  Y  24479952  24491743
34828  Y  28817034  28817446
34829  Y  28817773  28819403

[34830 rows x 3 columns]