In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import os.path as op
import pandas as pd

file = op.join('../test/sample_data', 'isidro.bedpe')
t = pd.read_csv(file, nrows=2, sep='\t', comment='#', header=None)
t_head = pd.read_csv(file, nrows=2, sep='\t', comment='#', header=None, skiprows=1)
# print(t.dtypes == t_head.dtypes)
# print((t.dtypes == t_head.dtypes).all())
# print(t.dtypes)
# print(t_head.dtypes)
"\t".join(t.head().values[0])

'chrom1\tstart1\tend1\tchrom2\tstart2\tend2\tsv_id\tpe_support\tstrand1\tstrand2\tsvclass\tsvmethod'

In [16]:
import clodius.chromosomes as cs
import clodius.tiles.bedpe as ctbp
import os.path as op

chromsizes = cs.chromsizes_as_series(op.expanduser('~/projects/negspy/negspy/data/mm10/chromInfo.txt'))
ctbp.tiles(op.expanduser('~/Downloads/Sox2_SCR (1).bedpe'), ['x.0.0.0'], chromsizes)

[('x.0.0.0',
  [{'uid': 0,
    'xStart': 412232865.0,
    'xEnd': 412239391.0,
    'yStart': 412337941.0,
    'yEnd': 412351977.0,
    'xChrOffset': 377585195.0,
    'yChrOffset': 377585195.0,
    'importance': 0.6246185404166814,
    'fields': ['chr3', 34647670, 34654196, 'chr3', 34752746, 34766782]}])]

In [13]:
filename =op.expanduser('~/Downloads/Sox2_SCR (1).bedpe')

t = pd.read_csv(
        filename,
        nrows=2,
        sep="\t",
        comment="#",
        header=None,
        compression=None,
    )

In [15]:
ctbp.tileset_info(op.expanduser('~/Downloads/Sox2_SCR (1).bedpe'), chromsizes=chromsizes)

{'max_width': 2730871774,
 'max_zoom': 31,
 'chromsizes': [['chr1', 195471971],
  ['chr2', 182113224],
  ['chr3', 160039680],
  ['chr4', 156508116],
  ['chr5', 151834684],
  ['chr6', 149736546],
  ['chr7', 145441459],
  ['chr8', 129401213],
  ['chr9', 124595110],
  ['chr10', 130694993],
  ['chr11', 122082543],
  ['chr12', 120129022],
  ['chr13', 120421639],
  ['chr14', 124902244],
  ['chr15', 104043685],
  ['chr16', 98207768],
  ['chr17', 94987271],
  ['chr18', 90702639],
  ['chr19', 61431566],
  ['chrX', 171031299],
  ['chrY', 91744698],
  ['chrM', 16299],
  ['chr5_JH584299_random', 953012],
  ['chrX_GL456233_random', 336933],
  ['chrY_JH584301_random', 259875],
  ['chr1_GL456211_random', 241735],
  ['chr4_GL456350_random', 227966],
  ['chr4_JH584293_random', 207968],
  ['chr1_GL456221_random', 206961],
  ['chr5_JH584297_random', 205776],
  ['chr5_JH584296_random', 199368],
  ['chr5_GL456354_random', 195993],
  ['chr4_JH584294_random', 191905],
  ['chr5_JH584298_random', 184189],
  ['chrY_JH584300_random', 182347],
  ['chr7_GL456219_random', 175968],
  ['chr1_GL456210_random', 169725],
  ['chrY_JH584303_random', 158099],
  ['chrY_JH584302_random', 155838],
  ['chr1_GL456212_random', 153618],
  ['chrUn_JH584304', 114452],
  ['chrUn_GL456379', 72385],
  ['chr4_GL456216_random', 66673],
  ['chrUn_GL456393', 55711],
  ['chrUn_GL456366', 47073],
  ['chrUn_GL456367', 42057],
  ['chrUn_GL456239', 40056],
  ['chr1_GL456213_random', 39340],
  ['chrUn_GL456383', 38659],
  ['chrUn_GL456385', 35240],
  ['chrUn_GL456360', 31704],
  ['chrUn_GL456378', 31602],
  ['chrUn_GL456389', 28772],
  ['chrUn_GL456372', 28664],
  ['chrUn_GL456370', 26764],
  ['chrUn_GL456381', 25871],
  ['chrUn_GL456387', 24685],
  ['chrUn_GL456390', 24668],
  ['chrUn_GL456394', 24323],
  ['chrUn_GL456392', 23629],
  ['chrUn_GL456382', 23158],
  ['chrUn_GL456359', 22974],
  ['chrUn_GL456396', 21240],
  ['chrUn_GL456368', 20208],
  ['chr4_JH584292_random', 14945],
  ['chr4_JH584295_random', 1976]],
 'min_pos': [0, 0],
 'max_pos': [2730871774, 2730871774],
 'header': ''}

In [53]:
t_head.head()

TypeError: head() takes from 1 to 2 positional arguments but 3 were given

In [29]:
file = op.join('../test/sample_data', 'hg19_myc.bedpe')
t = pd.read_csv(file, nrows=2, sep='\t', comment='#', header=None)
t_head = pd.read_csv(file, nrows=2, sep='\t', comment='#', header=None, skiprows=1)
print((t.dtypes == t_head.dtypes).all())
print(t.dtypes)
print(t_head.dtypes)
t.head()

True
0       int64
1       int64
2       int64
3       int64
4       int64
5       int64
6      object
7      object
8      object
9      object
10     object
11      int64
12    float64
dtype: object
0       int64
1       int64
2       int64
3       int64
4       int64
5       int64
6      object
7      object
8      object
9      object
10     object
11      int64
12    float64
dtype: object

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,8,127310000,127320000,8,127820000,127830000,.,.,.,.,"0,0,150",2,NaN
1,8,127880000,127890000,8,128310000,128320000,.,.,.,.,"0,0,150",2,NaN

In [19]:
file = op.join('../test/sample_data', 'hg19_myc.bedpe')
t = pd.read_csv(file, nrows=2, sep='\t', comment='#')
print(t.dtypes)
t.head()

8                int64
127310000        int64
127320000        int64
8.1              int64
127820000        int64
127830000        int64
.               object
..1             object
..2             object
..3             object
0,0,150         object
2                int64
Unnamed: 12    float64
dtype: object

,8,127310000,127320000,8.1,127820000,127830000,.,..1,..2,..3,"0,0,150",2,Unnamed: 12
0,8,127880000,127890000,8,128310000,128320000,.,.,.,.,"0,0,150",2,NaN
1,8,127880000,127890000,8,130550000,130560000,.,.,.,.,"0,0,150",2,NaN

In [45]:
file = op.join('../test/sample_data', 'hg19_myc.bedpe')
t = pd.read_csv(file, sep='\t', comment='#', header=None, skiprows=0)

In [52]:
[t[0].values

array([8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8,
       8, 8, 8])

ParserError: Error tokenizing data. C error: Expected 1 fields in line 2, saw 13